body {
    background-image: url(https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-repeat: no-repeat;
    background-size:100% ;
    color: yellow;
   }
   h4{
    color:azure;
   }